---
import ProductCard from './ProductCard.astro';
---

<section id="productos" class="py-20 bg-gray-900">
  <div class="container mx-auto px-6">
    <h2 class="text-4xl font-bold text-center mb-12 bg-gradient-to-r from-cyan-400 to-blue-500 bg-clip-text text-transparent">Nuestros Productos</h2>
    <div class="max-w-md mx-auto">
      <ProductCard
        title="Cafecitos System"
        description="Un sistema de registro de ordenes y generacion y calculo de ganancias y comisiones para un cafes y restaurantes."
        img="/images/waiter.png"
        link="https://cafecito.devcito.org"
      />
    </div>
  </div>
</section>
